node_modules
backend/node_modules
.git
.env
Suavegarde de version/
bdd/*.sqlite
bdd/*.sqlite-journal
bdd/*.sqlite-wal
bdd/*.sqlite-shm
storage/uploads/covers/*
storage/uploads/screenshots/*
!storage/uploads/covers/.gitkeep
!storage/uploads/screenshots/.gitkeep
*.md
.DS_Store
